@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	font: inherit;
}
html body {
	width: 100%;
	font-family:"Microsoft YaHei","Helvetica","Arial","Verdana","sans-serif";
	-webkit-font-smoothing:antialiased;
}
html {
	width: 100%;
	font-size:62.5%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, textarea {
	border: 0;
}
.fr {
	float: right;
}
.fl {
	float: left;
}
.none {
	display: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ".";
	clear: both;
	height: 0;
}
* html .clearfix {
	zoom: 1;
}
*:first-child + html .clearfix {
	zoom: 1;
}
a {
	text-decoration: none;
}

.wrapper{ padding-bottom:6rem; min-height:100%;}
.content{overflow: hidden; position: relative; overflow:hidden; min-height:100%;}
.conOne{position:relative; width:100%; min-height:100%; overflow:hidden;}
.conInner{ padding:1rem; text-align:right;}
.dataDiv{ width:100%; height:5rem;}
.dataLeft,.dataRight{ display:block; width:2rem; height:5rem; background-color:#55c654;}
.dataLeft img,.dataRight img{ display:block; margin:0 auto; vertical-align:top; height:2rem; margin-top:1.5rem;}
.dataCon{ float:left; height:4.8rem; border-top:0.1rem solid #dedede; border-bottom:0.1rem solid #dedede;}
.dataOne{ width:14.28%; height:100%; text-align:center; float:left;}
.dataOne b{ width:85%; margin:0 auto; display:block; padding:0.5rem 0; overflow:hidden; border-bottom:0.1rem solid #dedede; font:normal 1rem/1.2rem "Microsoft YaHei"; color:#999;}
.dataM{ padding:0 0.25rem; display:block; font-family: Arial; color:#444; padding-top:0.3rem;}.dataM i:nth-child(1){ font-size:1.2rem;}.dataM i:nth-child(2){ font-size:1.6rem;}
.dt_act{ background-color:#55c654;}.dt_act b{ color:#fff; border-bottom:0.1rem solid #fff;}.dt_act .dataM{ color:#fff;}

.scenDiv{ width:100%; background-color:#55c654; color:#fff; font:normal 1.6rem/3.5rem "Microsoft YaHei"; text-align:center; margin-top:1rem; overflow:hidden; }
.scenOne{ width:100%;  height:3.5rem; border-bottom:0.1rem solid rgba(255,255,255,0.5); overflow:hidden;}
.scenOne p{ float:left;}
.sTit{border-bottom:0.1rem solid rgba(255,255,255,0.5); font-size:1.8rem;}
.scenTit{background-color:#55c654; width:39%; border-right:0.1rem solid rgba(255,255,255,0.5);}.scenSt{ width:20%; border-right:0.1rem solid rgba(255,255,255,0.5); font-family:Arial; background-color:#5fd35e;}
.scenTit img{ vertical-align:top; height:2rem; margin-top:0.7rem; margin-right:0.5rem;}
.nbr{ border:none;}

.scenBig{ width:100%; background-color:#ff9a22; text-align:center; margin-top:1rem; color:#fff; font:normal 1.8rem/3.5rem "Microsoft YaHei";}
.numDiv{ font-size:0; height:4rem;}
.numDiv p{ display:inline-block; font-size:2rem; line-height:4rem; font-family:Arial; width:2.5rem; border-left:0.1rem solid rgba(255,255,255,0.5);}.numDiv p span{ display:block;  background-color:#ffa335;}
.brr{border-right:0.1rem solid rgba(255,255,255,0.5);}
.chTit{ width:100%; color:#fff; font:normal 1.8rem/3.5rem "Microsoft YaHei"; background-color:#55c654; text-align:center; margin-top:1rem; position:relative;}
.switBtn{ width:40%; height:2rem; position:absolute; right:0.7rem; top:0.8rem; text-align:right;}
.switBtn img{ display:inline; vertical-align:top; margin-left:0.2rem; height:2rem; cursor:pointer; cursor:hand;}
.charts{ height:18rem; padding-top:1rem; }

.scenSt span{ display: inline-block;}

.currD{ color:#888; font:normal 1.4rem/1.4rem "Microsoft YaHei";}
.titDiv{width:100%; padding:1.5rem 0 0.8rem 0; margin-top:-0.5px; background-color:#f4f4f4;}
.showT{ width:16rem; height:0.3rem; background-color:#e5e5e5; position:relative; overflow:hidden; position:absolute; bottom:0.5rem; right:1rem;}
.timeLine{ width:100%; height:100%; position:absolute; background-color:#ffa82c; top:0; left:-100%;}

.bor_1{ float:left; height:0.5px; padding:0; margin:0; margin-top:1rem; border:none; border-top:1px solid #e5e5e5; transform:scaleY(0.5); -webkit-transform:scaleY(0.5); -moz-transform:scaleY(0.5); width:100%;}
.sf{ width:0.4rem; height:1.6rem; background-color:#059445; margin-left:1rem;}
.titDiv h1{ font:bold 1.8rem/1.8rem "Microsoft YaHei"; color:#059445; padding-left:0.5rem; letter-spacing:-1px;}
.dtSp{ margin-right:1rem; font:normal 1.4rem/2rem "Microsoft YaHei"; color:#888;}
.dtSp a{ color:#888; margin:0 0.2rem; cursor:pointer; cursor:hand;}.dtSp a.active{color:#059445;}
.chBnt{ width:2.5rem; height:2rem; margin-left:0.5rem; cursor:pointer; cursor:hand; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; background-color:#5ed35d; text-align:center; display:inline-block;}
.chBnt img{ height:1.2rem; vertical-align:top; margin-top:0.4rem;}
.sDOne{ padding-top:1rem;}
.sInner{ padding:0 1rem; height:8rem;}
.picDiv{ position:relative; float:left; width:35%; height:100%; border-radius:2px 0 0 2px;}
.picImg{ width:100%; height:100%; vertical-align:top; border-radius:2px 0 0 2px;}
.picTit{ width:100%; font:normal 1.2rem/2.2rem "Microsoft YaHei";  color:#fff; background:rgba(0,0,0,0.5); position:absolute; left:0; bottom:0; border-radius:0 0 0 2px;}
.picTit span{ display:block; width:100%; height:2rem; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:center;}
.dtDiv{ border-radius:0 2px 2px 0; float:right; padding-top:0.4rem; height:7.6rem; width:65%;}
.dtOne{ width:95%; margin:0 auto; padding:0.5rem 0; height:2.5rem;}
.bor_2{ width:95%; margin:0.1rem auto; padding:0; height:0.5px; border:none; border-top:1px solid rgba(255,255,255,0.2); transform:scaleY(0.5); -webkit-transform:scaleY(0.5); -moz-transform:scaleY(0.5);}
.dtOne img{ width:2.5rem; vertical-align:top;}
.p01 span,.p02 span{ display:inline-block;}
.dtOne p{ width:28%; text-align:center; height:1.6rem; margin-top:0.5rem; font:normal 1.4rem/1.6rem Arial; color:#fff;}
.bor_3{ display:block; width:1px; height:1.6rem; border:none; border-right:1px solid rgba(255,255,255,0.4); float:left; transform:scaleX(0.5); -webkit-transform:scaleX(0.5); -moz-transform:scaleX(0.5);}
.bgco01{ background:#45bc44;}.bgco02{ background:#ebab3b;}.bgco03{ background:#6f9ff5;}
.arrow-left01,.arrow-left02,.arrow-left03 {
	position:absolute;
	right:0; top:50%; margin-top:-5px;
    width:0; 
    height:0; 
    border-top:6px solid transparent;
    border-bottom:6px solid transparent; 
}
.arrow-left01{border-right:6px solid #5ed35d; }
.arrow-left02{border-right:6px solid #ebab3b; }
.arrow-left03{border-right:6px solid #6f9ff5; }

.am .p01 span{animation:scalIn 0.5s both; -webkit-animation:scalIn 0.5s both; -moz-animation:scalIn 0.5s both;}
.am .p02 span{animation:scalIn 0.5s both 0.3s; -webkit-animation:scalIn 0.5s both 0.3s; -moz-animation:scalIn 0.5s both 0.3s;}

.am01 .p01 span{animation:fadeUp 0.5s both 0.3s; -webkit-animation:fadeUp 0.5s both 0.3s; -moz-animation:fadeUp 0.5s both 0.3s;} 
.am01 .p02 span{animation:fadeUp 0.5s both 0.6s; -webkit-animation:fadeUp 0.5s both 0.6s; -moz-animation:fadeUp 0.5s both 0.6s;} 

.am02 .p01 span{animation:fadeUp 0.5s both 0.6s; -webkit-animation:fadeUp 0.5s both 0.6s; -moz-animation:fadeUp 0.5s both 0.6s;} 
.am02 .p02 span{animation:fadeUp 0.5s both 0.9s; -webkit-animation:fadeUp 0.5s both 0.9s; -moz-animation:fadeUp 0.5s both 0.9s;} 

.am03 .p01 span{animation:fadeUp 0.5s both 1.1s; -webkit-animation:fadeUp 0.5s both 1.1s; -moz-animation:fadeUp 0.5s both 1.1s;} 
.am03 .p02 span{animation:fadeUp 0.5s both 1.4s; -webkit-animation:fadeUp 0.5s both 1.4s; -moz-animation:fadeUp 0.5s both 1.4s;} 




.halfDiv{ width:49.5%; height:100%; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; margin-top:0.5rem;}
.ph1{ font:normal 1.2rem/2.5rem "Microsoft YaHei";  height:2.5rem; margin-bottom:0.5rem; color:#fff; width:100%; border-radius:2px 2px 0 0; -webkit-border-radius:2px 2px 0 0; -moz-border-radius:2px 2px 0 0; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.pOne{ color:#fff; font-size:0;  width:100%; height:2rem; line-height:2rem; text-align:center;}
.pOne p{ display:inline-block; }.pOne b{ display:inline-block; padding:0 0.3rem; font-size:1.2rem;}
.fs01{ font-size:1.8rem;} .fs02{ font-size:1.4rem;} .fs03{ font-size:1rem;}
.tbgc01{ background-color:#37b036;}.tbgc02{ background-color:#f29c05;}.tbgc03{ background-color:#6695ea;}
.numD dd{ width:10px; height:20px; position:relative; overflow:hidden; float:left;}
.numT{ position:absolute; left:0; top:0; width:100%;}
.numT span{ display:block; width:20px; height:20px; font:normal 14px/20px "Microsoft YaHei"; color:#fff;}

.wLogo{width:100px; height:100px; position:absolute; left:50%; margin-left:-55px; top:0; border:5px solid #059445; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; animation:scalIn 1s both; -webkit-animation:scalIn 1s both; -moz-animation:scalIn 1s both;}
.wPtex{ width:95%; font:bold 2.4rem/2.6rem "Microsoft YaHei"; color:#fff; text-align:center; position:absolute; top:120px; animation:fadeUp 1s both 0.2s; -webkit-animation:fadeUp 1s both 0.2s; -moz-animation:fadeUp 1s both 0.2s;}
.wsPt{ height:2rem; position:relative; top:200px;}
.wsLine{ width:18%; height:1px; background:rgba(255,255,255,0.2); position:relative; top:0.9rem;}
.wsTex{ width:64%; text-align:center; color:rgba(255,255,255,0.6); font:normal 1.6rem/2rem "Microsoft YaHei";}
.wsTex span{ display:inline-block;}
.wl01{ animation:fadeLeft 1s both 0.5s; -webkit-animation:fadeLeft 1s both 0.5s; -moz-animation:fadeLeft 1s both 0.5s;}
.wl02{ animation:fadeRight 1s both 0.5s; -webkit-animation:fadeRight 1s both 0.5s; -moz-animation:fadeRight 1s both 0.5s;}
.ws01{ animation:ccInDown 1s both 1s; -webkit-animation:ccInDown 1s both 1s; -moz-animation:ccInDown 1s both 1s;}
.ws02{ animation:ccInDown 1s both 1.2s; -webkit-animation:ccInDown 1s both 1.2s; -moz-animation:ccInDown 1s both 1.2s;}
.ws03{ animation:ccInDown 1s both 1.4s; -webkit-animation:ccInDown 1s both 1.4s; -moz-animation:ccInDown 1s both 1.4s;}
.ws04{ animation:ccInDown 1s both 1.6s; -webkit-animation:ccInDown 1s both 1.6s; -moz-animation:ccInDown 1s both 1.6s;}



.bigData{width:100%; height:7rem; margin:0 auto; overflow:hidden;  margin-top:0.5rem; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; position:relative;}
.ph2{ font:normal 1.4rem/1.6rem "Microsoft YaHei"; width:20%; height:100%; text-align:center; display:block; color:#fff; border-radius:2px 0 0 2px; -webkit-border-radius:2px 0 0 2px; -moz-border-radius:2px 0 0 2px;}
.ph2 span{ display:block; padding:1.9rem 0.2rem;}
.pOne02{ width:80%; font-size:0; color:#fff; line-height:7rem; text-align:center;}
.pOne02 p{display:inline-block;}
.pOne02 b{ font-size:2rem; margin:0 0.3rem;}
.pOne02 i{ font-size:1.2rem; margin:0 0.3rem;}
.f01{ font-size:2.8rem;} .f02{ font-size:2rem;} .f03{ font-size:1.2rem;}
.pnum{ position:absolute; right:0.5rem; top:0.5rem; color:#fff;}
.pnum span{font:normal 1.4rem/1.8rem "Microsoft YaHei"; margin:0 0.2rem;}

/*渐显放大*/
@-webkit-keyframes scalIn{
	0%{ opacity:0; -webkit-opacity:0; -moz-opacity:0; transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform:scale(0.1);}
	100%{ opacity:1; -webkit-opacity:1; -moz-opacity:1; transform:scale(1); -webkit-transform:scale(1); -moz-transform:scale(1);}
}
@-moz-keyframes scalIn{
	0%{ opacity:0; -webkit-opacity:0; -moz-opacity:0; transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform:scale(0.1);}
	100%{ opacity:1; -webkit-opacity:1; -moz-opacity:1; transform:scale(1); -webkit-transform:scale(1); -moz-transform:scale(1);}
}
@keyframes scalIn{
	0%{ opacity:0; -webkit-opacity:0; -moz-opacity:0; transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform:scale(0.1);}
	100%{ opacity:1; -webkit-opacity:1; -moz-opacity:1; transform:scale(1); -webkit-transform:scale(1); -moz-transform:scale(1);}
}
/*由下至上*/
@-webkit-keyframes fadeUp{
	0%{opacity:0; -webkit-opacity:0; -moz-opacity:0; transform:translateY(100%) scale(2); -webkit-transform:translateY(100%) scale(2); -moz-transform:translateY(100%) scale(2);}
	100%{opacity:1; -webkit-opacity:1; -moz-opacity:1; transform:translateY(0) scale(1); -webkit-transform:translateY(0) scale(1); -moz-transform:translateY(0) scale(1);}
	}
@-moz-keyframes fadeUp{
	0%{opacity:0; -webkit-opacity:0; -moz-opacity:0; transform:translateY(100%) scale(2); -webkit-transform:translateY(100%) scale(2); -moz-transform:translateY(100%) scale(2);}
	100%{opacity:1; -webkit-opacity:1; -moz-opacity:1; transform:translateY(0) scale(1); -webkit-transform:translateY(0) scale(1); -moz-transform:translateY(0) scale(1);}
	}
@keyframes fadeUp{
	0%{opacity:0; -webkit-opacity:0; -moz-opacity:0; transform:translateY(100%) scale(2); -webkit-transform:translateY(100%) scale(2); -moz-transform:translateY(100%) scale(2);}
	100%{opacity:1; -webkit-opacity:1; -moz-opacity:1; transform:translateY(0) scale(1); -webkit-transform:translateY(0) scale(1); -moz-transform:translateY(0) scale(1);}
	}
/*由左至右*/
@-webkit-keyframes fadeLeft{
	0%{opacity:0; -webkit-opacity:0; -moz-opacity:0; transform:translateX(-100%); -webkit-transform:translateX(-100%); -moz-transform:translateX(-100%);}
	100%{opacity:1; -webkit-opacity:1; -moz-opacity:1; transform:translateX(0); -webkit-transform:translateX(0); -moz-transform:translateX(0);}
	}
@-moz-keyframes fadeLeft{
	0%{opacity:0; -webkit-opacity:0; -moz-opacity:0; transform:translateX(-100%); -webkit-transform:translateX(-100%); -moz-transform:translateX(-100%);}
	100%{opacity:1; -webkit-opacity:1; -moz-opacity:1; transform:translateX(0); -webkit-transform:translateX(0); -moz-transform:translateX(0);}
	}
@keyframes fadeLeft{
	0%{opacity:0; -webkit-opacity:0; -moz-opacity:0; transform:translateX(-100%); -webkit-transform:translateX(-100%); -moz-transform:translateX(-100%);}
	100%{opacity:1; -webkit-opacity:1; -moz-opacity:1; transform:translateX(0); -webkit-transform:translateX(0); -moz-transform:translateX(0);}
	}
/*由右至左*/
@-webkit-keyframes fadeRight{
	0%{opacity:0; -webkit-opacity:0; -moz-opacity:0; transform:translateX(100%); -webkit-transform:translateX(100%); -moz-transform:translateX(100%);}
	100%{opacity:1; -webkit-opacity:1; -moz-opacity:1; transform:translateX(0); -webkit-transform:translateX(0); -moz-transform:translateX(0);}
	}
@-moz-keyframes fadeRight{
	0%{opacity:0; -webkit-opacity:0; -moz-opacity:0; transform:translateX(100%); -webkit-transform:translateX(100%); -moz-transform:translateX(100%);}
	100%{opacity:1; -webkit-opacity:1; -moz-opacity:1; transform:translateX(0); -webkit-transform:translateX(0); -moz-transform:translateX(0);}
	}
@keyframes fadeRight{
	0%{opacity:0; -webkit-opacity:0; -moz-opacity:0; transform:translateX(100%); -webkit-transform:translateX(100%); -moz-transform:translateX(100%);}
	100%{opacity:1; -webkit-opacity:1; -moz-opacity:1; transform:translateX(0); -webkit-transform:translateX(0); -moz-transform:translateX(0);}
	}
/*数字跳动效果*/
@-webkit-keyframes ccInDown{
	0%{opacity: 0; -webkit-opacity: 0; -moz-opacity: 0; -webkit-transform: translateY(5px); -moz-transform: translateY(5px); transform: translateY(5px);}

    25%    {opacity: 0.3; -webkit-opacity: 0.3; -moz-opacity: 0.3;  -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); transform: translateY(-10px); }

    50%    {opacity:0.5; -webkit-opacity:0.5; -moz-opacity:0.5;  -webkit-transform: translateY(0px); -moz-transform: translateY(0px); transform: translateY(0px);    }
		
	75%    {opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity=1);       -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); transform: translateY(-10px); }
	
    100%    {opacity:1; -webkit-opacity:1; -moz-opacity:1;  -webkit-transform: translateY(0); -moz-transform: translateY(0); transform: translateY(0);    }}
@-moz-keyframes ccInDown{
	0%{opacity: 0; -webkit-opacity: 0; -moz-opacity: 0; -webkit-transform: translateY(5px); -moz-transform: translateY(5px); transform: translateY(5px);}

    25%    {opacity: 0.3; -webkit-opacity: 0.3; -moz-opacity: 0.3;  -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); transform: translateY(-10px); }

    50%    {opacity:0.5; -webkit-opacity:0.5; -moz-opacity:0.5;  -webkit-transform: translateY(0px); -moz-transform: translateY(0px); transform: translateY(0px);    }
		
	75%    {opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity=1);       -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); transform: translateY(-10px); }
	
    100%    {opacity:1; -webkit-opacity:1; -moz-opacity:1;  -webkit-transform: translateY(0); -moz-transform: translateY(0); transform: translateY(0);    }}
@keyframes ccInDown{
	0%{opacity: 0; -webkit-opacity: 0; -moz-opacity: 0; -webkit-transform: translateY(5px); -moz-transform: translateY(5px); transform: translateY(5px);}

    25%    {opacity: 0.3; -webkit-opacity: 0.3; -moz-opacity: 0.3;  -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); transform: translateY(-10px); }

    50%    {opacity:0.5; -webkit-opacity:0.5; -moz-opacity:0.5;  -webkit-transform: translateY(0px); -moz-transform: translateY(0px); transform: translateY(0px);    }
		
	75%    {opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity=1);       -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); transform: translateY(-10px); }
	
    100%    {opacity:1; -webkit-opacity:1; -moz-opacity:1;  -webkit-transform: translateY(0); -moz-transform: translateY(0); transform: translateY(0);    }}
	